/*

Stylesheet for CSS Demo

*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }



/* ---------------Global Style----------------- */
/* Color Scheme
9F3DA6
622666
DC54E6 (main color)
E85AF2
C34BCC
*/
body{
    background-color: #DC54E6;
    font-family:'Fjalla One', sans-serif;
    margin: 0;
}

header.primary{
    background-color: #DC54E6;

    text-align: center;

    color:#ffffff;

    /*Long Form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /*Short Hand*/
    /*top, right, bottom, left*/
    padding: 40px 40px 40px 40px;
    /*Also*/
    /*top, bottom / right, left*/
    padding: 40px 40px;
    /*sets all*/
    padding: 40px;

    text-shadow: 2px 2px 5px #000000;
}

header.primary h1{
    font-size: 2.6rem;
    margin:20px 0px;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size: 1rem;
    margin:20px auto 40px;
}
header.primary nav{
    font-size: 1rem;
    margin: 20px;
}

header.primary nav ul{
    font-size:1rem;
    background:red;
    padding:0;
}

header.primary nav ul li{
    list-style-type:none;
    font-size:1rem;
    background:#ffffff;
}

header.primary nav li a{
    font-size: 1rem;
}