/*

Stylesheet for CSS Demo

*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ---------------Utility Classes----------------- */

.container{
    width:70vw;
    margin: 40px auto;
}


/* ---------------Global Style----------------- */
/* Color Scheme
9F3DA6
622666
DC54E6 (main color)
E85AF2
C34BCC
*/
body{
    background-color: #DC54E6;
    font-family:'Fjalla One', sans-serif;
    margin: 0;
}

header.primary{
    background-color: #DC54E6;

    text-align: center;

    color:#ffffff;

    /*Long Form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /*Short Hand*/
    /*top, right, bottom, left*/
    padding: 40px 40px 40px 40px;
    /*Also*/
    /*top, bottom / right, left*/
    padding: 40px 40px;
    /*sets all*/
    padding: 40px;
    /*These are all doing the same thing*/

    text-shadow: 2px 2px 5px #000000;
}

header.primary h1{
    font-size: 2.6rem;
    margin:20px 0px;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size: 1rem;
    margin:20px auto 40px;
}
header.primary nav{
    font-size: 1rem;
    margin: 20px;
}

header.primary nav ul{
    width:80vw;
    max-width: 900px;
    font-size:1rem;
    padding:0;
    display:flex;
    /*
    flex-direction: column-reverse;
    This alters the orientation of the flex box
    The above example orients the items vertically in reverse order
    */
    justify-content:space-between;
    margin:20px auto;
}

header.primary nav ul li{
    list-style-type:none;
    font-size:1rem;
}

header.primary nav li a{
    font-size: 1rem;
    background-color:black;
    background-color:rgba(0,0,0,0.7);
    color:white;
    display:inline-block;
    padding: 8px 16px;
    margin-bottom: 1rem;
    border-radius:5px;
    transition: 1s;
}

header.primary nav a:hover{
    background-color:rgba(0,0,0,0.9);
}

#intro{
    border-bottom: 1px solid #8C2066;
    padding: 3px 14px;
}

h1, h2, h3, h4, h5, h6{
    color:#140726;
}












@media screen and (max-width:550px){
    header.primary nav ul{
        flex-direction:column;
    }
}