/*

Stylesheet for CSS Demo

*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ---------------Utility Classes----------------- */

.container{
    width:70vw;
    margin: 40px auto;
}

img{
    max-width: 100%;
}

.img-right{
    float: right;
    margin-left: 20px;
    border: 2px solid #140726;
    padding: 5px;
}

.img-left{
    float:left;
    margin-right:20px;
    border:2px solid #140726;
    padding:5px;
}

.img-center{
    display: block;
    margin:20px auto;
    border: 2px solid #140726;
}


/* ---------------Global Style----------------- */
/* Color Scheme
9F3DA6
622666
DC54E6 (main color)
E85AF2
C34BCC
*/
body{
    background-color: #DC54E6;
    font-family:'Fjalla One', sans-serif;
    margin: 0;
}

header.primary{
    background-color: #DC54E6;

    text-align: center;

    color:#ffffff;

    /*Long Form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /*Short Hand*/
    /*top, right, bottom, left*/
    padding: 40px 40px 40px 40px;
    /*Also*/
    /*top, bottom / right, left*/
    padding: 40px 40px;
    /*sets all*/
    padding: 40px;
    /*These are all doing the same thing*/

    text-shadow: 2px 2px 5px #000000;
}

header.primary h1{
    font-size: 2.6rem;
    margin:20px 0px;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size: 1rem;
    margin:20px auto 40px;
}
header.primary nav{
    font-size: 1rem;
    margin: 20px;
}

header.primary nav ul{
    width:80vw;
    max-width: 900px;
    font-size:1rem;
    padding:0;
    display:flex;
    /*
    flex-direction: column-reverse;
    This alters the orientation of the flex box
    The above example orients the items vertically in reverse order
    */
    justify-content:space-between;
    margin:20px auto;
}

header.primary nav ul li{
    list-style-type:none;
    font-size:1rem;
}

header.primary nav li a{
    font-size: 1rem;
    background-color:black;
    background-color:rgba(0,0,0,0.7);
    color:white;
    display:inline-block;
    padding: 8px 16px;
    margin-bottom: 1rem;
    border-radius:5px;
    transition: 1s;
}

header.primary nav a:hover{
    background-color:rgba(0,0,0,0.9);
}

#intro{
    border-bottom: 1px solid #8C2066;
    padding: 3px 14px;
}

#intro h2{
    border-bottom: 1px solid #000000;
}

h1, h3, h4, h5, h6{
    color: #140726;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px;
    padding-bottom:2.8rem;
}

#content article.post{
    width:30%;
    box-shadow:0 4px 8px rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 4px;
    font-size:0.7rem;
}

#content article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,0.4);
}

article.post time.post-date, figcaption, .post-meta{
    text-transform: uppercase;
    color:#000000;
}

.post figure{
    margin:0;
}

.post img{
    border: 1px solid #140726;
    padding: 2px;
    margin: 5px 0px;
}

.post a{
    color:#140726;
    transition: 1s;
}

.post a:hover, .post a:active{
    text-decoration: none;
}

aside[role="complementary"]{
    background-color: #140726;
    color: #DC54E6;
    padding: 1.8rem;
}

aside div.container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

aside article.widget{
    width:44%;
}

aside article.widget h2{
    color:#ffffff;
}

article.widget a{
    color:#ffffff;
    display: block;
}

article.widget footer{
    display:none;
}

#colophon{
    background-color:#8C2066;
}

#colophon h6{
    padding:20px;
    margin:0;
    text-align:center;
    color:#fff;
    font-size:.8rem;
    text-transform:uppercase;
}

#additional-elements h2{
    color: #140726;
    border-bottom: 1px solid #000000;
}

#additional-elements h3{
    border-left:8px solid #140726;
    padding:5px 10px;
}

#additional-elements a{
    color: #8C2066;
}

#additional-elements a:hover{
    color: #140726;
    text-decoration:none;
}

table{
    width:100%;
    border: 1px solid #140726;
    border-collapse:collapse;
}

tr:nth-child(odd){
    background-color: #e486eb;
}

tr:hover{
    background-color: #140726;
    color:#ffffff;
}

th{
    border: 1px solid #140726;
    background-color: #8C2066;
    width: 33%;
    padding: 5px;
    color: #000;
}

td{
    border: 1px solid #140726;
    padding: 5px;
}

td:nth-child(2n), td:nth-child(3n){
    text-align: right;
}

#additional-elements ol{
    list-style-type:upper-roman;
}

#additional-elements ul{
    list-style-type:disc;
}

dl{

}

dt{
    font-weight:bold;
}

dd{
    margin-left:0;
}

dd + dt{
    margin-top: 1rem;
}



@media screen and (max-width:550px){
    header.primary nav ul{
        flex-direction:column;
    }
}